body {
    font-family: Arial, Helvetica, sans-serif;
    background: #373e47;
    color: #fdfdfd;
    margin: 0;
    padding: 0;
    outline: 0;
}
h1{
    margin-right: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  padding: 30%;
  margin: 10px;
  text-align: center;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vw;
  font-weight: 700;
  white-space: nowrap;
  user-select: none;
  color: rgba(0, 0, 0, 0.1);
}

.selectColor {
  position: relative;
  padding: 10px;
  border: none;
  border-right: 10px solid #fff;
  outline: none;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.container-data-git{
  width: 100%;
}

.row{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
    width: 40%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    background-color: #e5e5e5;

    margin-bottom: 3%;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  .divpag{
    display: flex;
    padding: 5%;
  }
  .divpag  li{
    display: flex;
    color:#fff;
    text-align: right;
    position: relative;
  }


  .button{
    height: 50px;
    width: 80%;

    background-color:rgb(194, 193, 193);
    color: #000000;

    border-radius: 4px;

    font-size: 0.80em;

    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 3%;
  }
 
.button:hover{
    filter: brightness(90%);
  }

.svg{
    height: 0.7em !important;
  }

.nameProject, .description, .nameuser{
    color: black;
    font-size: 12px;   
}

.description{
  height: 50%;
  width: 90%;

  color: black;
  text-align: left;
  display: flex;
  font-size: 0.8em;
  margin-top: 10%;

  overflow: hidden;
}
img{
  width:60%; 
  height:110px;
  display: flex;
  border-radius: 10px;

  margin-top: 1%;
}
.nameProject{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.90em;
  margin-top: 5%;

  font-weight: bold;
}
.BUTTON_FNB{
  margin-top: 3%;
  margin-left: 200%;
  background-color: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Brush Script MT;
  font-size: 37px;
  font-weight: 100;
  padding: 17px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_FNB:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.pag{
  width: 400px;
  height: 300px;
  
}
